In [9]:
import json
import pandas as pd

In [10]:
df = pd.read_excel("mijloacefixe.xlsx")

In [11]:
df.columns

Index(['GRUPA', 'CODUL DE CLASIFICARE', 'DENUMIREA ACTIVELOR FIXE',
       'DURATE NORMALE DE FUNCTONARE (ANI)'],
      dtype='object')

In [12]:
df.columns = ['grupa', 'cod_clasificare', 'denumire_active_fixe', 'durata_amortizare_in_ani']

In [27]:
mijloacefixe_cod = {} 
for idx, row in df.iterrows():
    
    mijloacefixe_cod[row[1]] = {
        'grupa': row[0],
        'cod_clasificare': row[1],
        'denumire_active_fixe': row[0],
        'durata_amortizare_in_ani': row[0]
    }
    
    print(mijloacefixe_cod)
    
    break

1.1.1.

,grupa,cod_clasificare,denumire_active_fixe,durata_amortizare_in_ani
0,GRUPA 1. CONSTRUCTII,1.1.1.,Cladiri industriale in afara de cladirile din:,40-60
1,GRUPA 1. CONSTRUCTII,1.1.1.1.,"– industria alimentara, industria materialelor...",28-42
2,GRUPA 1. CONSTRUCTII,1.1.1.2.,– industria chimica.,24-36
3,GRUPA 1. CONSTRUCTII,1.1.2.,Constructii usoare cu structuri metalice (hale...,16-24
4,GRUPA 1. CONSTRUCTII,1.1.2.1.,"– baraci, soproane, etc.",8-12
...,...,...,...,...
499,"GRUPA 3. MOBILIER, APARATURA BIROTICA, SISTEME...",3.3.3.,"Automate bancare, bancomate.",8-12
500,"GRUPA 3. MOBILIER, APARATURA BIROTICA, SISTEME...",3.3.4.,Sisteme de protectie la incendiu (elemente de ...,12-18
501,"GRUPA 3. MOBILIER, APARATURA BIROTICA, SISTEME...",3.3.5.,Sisteme pentru identificare si controlul acces...,8-12
502,"GRUPA 3. MOBILIER, APARATURA BIROTICA, SISTEME...",3.3.6.,Alte sisteme de protectie a valorilor umane si...,12-18
503,"GRUPA 3. MOBILIER, APARATURA BIROTICA, SISTEME...",3.4.,Alte active corporale neregasite in cele speci...,8-15

In [5]:
for name, df in df.groupby('GRUPA'):
    df = df[['CODUL DE CLASIFICARE', 'DENUMIREA ACTIVELOR FIXE', 'DURATE NORMALE DE FUNCTONARE (ANI)']]
    df.to_html(name + ".html", index=False)

In [24]:
with open("mijloacefixelist.json", "w") as j:
    json.dump(df.to_dict('list'), j)

In [25]:
with open("mijloacefixerecords.json", "w") as j:
    json.dump(df.to_dict('records'), j)

In [8]:
uniquelist_mijlocfix = {

    'grupa': df['grupa'].unique().tolist(),
    'cod_clasificare': df['cod_clasificare'].unique().tolist(),
    'denumire_active_fixe': df['denumire_active_fixe'].unique().tolist(),
    'durata_amortizare_in_ani': df['durata_amortizare_in_ani'].unique().tolist(),
    
}

with open("mijloacefixe_uniquelist.json", "w") as j:
    json.dump(uniquelist_mijlocfix, j)